<table style="width: 100%">
    <tr style="background: #ffffff">
        <td style="padding-top:25px;width: 180px"><img src="https://mci.edu/templates/mci/images/logo.svg" alt="Logo"></td>
        <td style="width: 100%">
            <div style="text-align:right; width: 100%; text-align:right"><font style="font-size:38px"><b>Visualisierung und Datenbanken</b></font></div>
            <div style="padding-top:0px; width: 100%; text-align:right"><font size="4"><b>WS 2022</b></font></div>
        </td>
    </tr>
</table>

---

# 1 Working tabular data with pandas

# 1.1 pandas DataFrame

Pandas is an open-source library that is built on top of NumPy library. It is a Python package that offers various data structures and operations for manipulating numerical data and time series. It is mainly popular for importing and analyzing data much easier. [source](https://www.geeksforgeeks.org/pandas-tutorial/?ref=lbp)



After the pandas have been installed into the system, you need to import the library. This module is generally imported as:

In [ ]:
import pandas as pd

## Data Stuctures 

Pandas generally provide two data structures for manipulating data, They are: 

- Series
- DataFrame

### Series

A Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called indexes. Pandas Series is nothing but a column in an excel sheet. Labels need not be unique but must be a hashable type. The object supports both integer and label-based indexing and provides a host of methods for performing operations involving the index.

In [ ]:
import pandas as pd
import numpy as np
 
 
# Creating empty series
ser = pd.Series()
   
print(ser)
 
# simple array
data = np.array(['A', 'C', 'G', 'T', 'A'])

# Creating a series from an array   
ser = pd.Series(data)
print(ser)

Series([], dtype: float64)
0    A
1    C
2    G
3    T
4    A
dtype: object

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

While the values are not all unique:

In [ ]:
ser.unique()

array(['A', 'C', 'G', 'T'], dtype=object)

Each value in the index of the series is unique, as is a number in the range from 0 to 5.

In [ ]:
ser.index.unique()

RangeIndex(start=0, stop=5, step=1)

### DataFrame
Pandas DataFrame is a two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of three principal components, the data, rows, and columns.

![](https://media.geeksforgeeks.org/wp-content/uploads/20200225170602/pandas-dataframe.png)

Data frames can be created from dictionaries. The keys are the variable names, while the column data is passed as list in the dictionaries' value:

In [ ]:
# Python code demonstrate creating 
# DataFrame from dict narray / lists 
# By default addresses.
 
import pandas as pd
 
# intialise data of lists.
data = {'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
print(df)

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

A convinient way to print data frame ist the ```head()``` fuction. By default it prints the first five rows of a data frame, so You can get a first impression of the columns and what is in them. Similarly, there is the ```tail()```function.

In [ ]:
df.head()

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

✍️ **Task** 

Try out the head and tail function with different parameters.

In [ ]:
df.tail(2)

NameError: ignored

✍️ **Task**

Store the example data from the following lecture results in a DataFrame.

```
gender = ["Male", "Female", "Female", "Female", "Male"]

education = ["M.Sc.", "B.Sc.", "B.Sc.", "PhD", "none"]

body_temperature_celsius = [37.85, 39.85, 38.85, 36.85, 37.85]

points_in_exam = [0, 100, 80, 80, 40]
```

In [ ]:
data = { "Gender" : ["Male", "Female", "Female", "Female", "Male"],
"Education" : ["M.Sc.", "B.Sc.", "B.Sc.", "PhD", "none"],
"Body_temperature_celsius" : [37.85, 39.85, 38.85, 36.85, 37.85], 
"points_in_exam" : [0, 100, 80, 80, 40]}

# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
print(df)

   Gender Education  Body_temperature_celsius  points_in_exam
0    Male     M.Sc.                     37.85               0
1  Female     B.Sc.                     39.85             100
2  Female     B.Sc.                     38.85              80
3  Female       PhD                     36.85              80
4    Male      none                     37.85              40

# 1.2 Advanced pandas

✍️ **Task**

Test the following functions on the DataFrame:
  - ```mode()```
  - ```median()```
  - ```mean()```
  - ```describe()```

In [4]:
import pandas as pd
data = { "Gender" : ["Male", "Female", "Female", "Female", "Male"],
"Education" : ["M.Sc.", "B.Sc.", "B.Sc.", "PhD", "none"],
"Body_temperature_celsius" : [37.85, 39.85, 38.85, 36.85, 37.85], 
"points_in_exam" : [0, 100, 80, 80, 40]}

# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
print(df)

   Gender Education  Body_temperature_celsius  points_in_exam
0    Male     M.Sc.                     37.85               0
1  Female     B.Sc.                     39.85             100
2  Female     B.Sc.                     38.85              80
3  Female       PhD                     36.85              80
4    Male      none                     37.85              40

In [5]:
df.mode()

   Gender Education  Body_temperature_celsius  points_in_exam
0  Female     B.Sc.                     37.85              80

In [6]:
df.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Body_temperature_celsius    37.85
points_in_exam              80.00
dtype: float64

In [7]:
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Body_temperature_celsius    38.25
points_in_exam              60.00
dtype: float64

In [8]:
df.describe()

       Body_temperature_celsius  points_in_exam
count                  5.000000             5.0
mean                  38.250000            60.0
std                    1.140175            40.0
min                   36.850000             0.0
25%                   37.850000            40.0
50%                   37.850000            80.0
75%                   38.850000            80.0
max                   39.850000           100.0

Note, that those functions also work for individual columns:

In [9]:
df["points_in_exam"].mean()

60.0

## Indexing and Selecting Data

Indexing in pandas means simply selecting particular rows and columns of data from a DataFrame. Indexing could mean selecting all the rows and some of the columns, some of the rows and all of the columns, or some of each of the rows and columns. 

Indexing a Dataframe using indexing operator ```[]```

### Selecting a single columns

In [ ]:
# retrieving columns by indexing operator
first = df["Gender"]
 
print(first)

0      Male
1    Female
2    Female
3    Female
4      Male
Name: Gender, dtype: object

### Index

The index is a special column like a key in a dictionary. Like a key, an index must be unique so that is can be used to identify a certain row.

If You do not define an index for a dataframe, pandas automatically creates an numerical index as the first column:

In [ ]:
data = { "Name" : ["A","B","C","D","E"], 
"Gender" : ["Male", "Female", "Female", "Female", "Male"],
"Education" : ["M.Sc.", "B.Sc.", "B.Sc.", "PhD", "none"],
"Body_temperature_celsius" : [37.85, 39.85, 38.85, 36.85, 37.85], 
"points_in_exam" : [0, 100, 80, 80, 40]}

# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
print(df)
print(df.index)

  Name  Gender Education  Body_temperature_celsius  points_in_exam
0    A    Male     M.Sc.                     37.85               0
1    B  Female     B.Sc.                     39.85             100
2    C  Female     B.Sc.                     38.85              80
3    D  Female       PhD                     36.85              80
4    E    Male      none                     37.85              40
RangeIndex(start=0, stop=5, step=1)

Alternatively, You can decide for any coloumn to become the index:

In [ ]:
data = { "Name" : ["A","B","C","D","E"], 
"Gender" : ["Male", "Female", "Female", "Female", "Male"],
"Education" : ["M.Sc.", "B.Sc.", "B.Sc.", "PhD", "none"],
"Body_temperature_celsius" : [37.85, 39.85, 38.85, 36.85, 37.85], 
"points_in_exam" : [0, 100, 80, 80, 40],
"points_bonus" : [5, 10, 0, 5, 5]}


# Create DataFrame
df = pd.DataFrame(data)
df = df.set_index('Name')

# Print the output.
print(df)

      Gender Education  Body_temperature_celsius  points_in_exam  points_bonus
Name
A       Male     M.Sc.                     37.85               0             5
B     Female     B.Sc.                     39.85             100            10
C     Female     B.Sc.                     38.85              80             0
D     Female       PhD                     36.85              80             5
E       Male      none                     37.85              40             5

### Selecting a single rows

The ```.loc[ ]``` function selects data by the label of the rows and columns. The df.loc indexer selects data in a different way than just the indexing operator. It can select subsets of rows or columns. It can also simultaneously select subsets of rows and columns.

In [ ]:
# retrieving columns by indexing operator
first = df.loc["A"]
 
print(first)

Gender                       Male
Education                   M.Sc.
Body_temperature_celsius    37.85
points_in_exam                  0
Name: A, dtype: object

In [ ]:
# retrieving columns by indexing operator
first = df.loc["A"]["Gender"]
 
print(first)

Male

✍️ **Task**

Select the body temperature of the person named "C"

In [ ]:
temp = df.loc["C"]["Body_temperature_celsius"]
temp

38.85

Even after changing the index, You can still use the numerical position of the rows and columns to access tha data using the ```iloc[]``` function.

In [ ]:
temp = df.iloc[2][2]
temp

38.85

### Iteration

You might want to iterate through the rows of the data frames  as You did with lists and dictionaries. You can do this by using the ```iterrows()``` function

In [ ]:
for index, observation in df.iterrows():
    print("The index is {}. ".format(index))
    print("The full observation is \n{}".format(observation))
    print("The body temperature is {}".format(observation["Body_temperature_celsius"]))
    print("\n")

The index is A.
The full observation is
Gender                       Male
Education                   M.Sc.
Body_temperature_celsius    37.85
points_in_exam                  0
points_bonus                    5
grade                           F
Name: A, dtype: object
The body temperature is 37.85


The index is B.
The full observation is
Gender                      Female
Education                    B.Sc.
Body_temperature_celsius     39.85
points_in_exam                 100
points_bonus                    10
grade                            F
Name: B, dtype: object
The body temperature is 39.85


The index is C.
The full observation is
Gender                      Female
Education                    B.Sc.
Body_temperature_celsius     38.85
points_in_exam                  80
points_bonus                     0
grade                            F
Name: C, dtype: object
The body temperature is 38.85


The index is D.
The full observation is
Gender                      Female
Education                      PhD
Body_temperature_celsius     36.85
points_in_exam                  80
points_bonus                     5
grade                            F
Name: D, dtype: object
The body temperature is 36.85


The index is E.
The full observation is
Gender                       Male
Education                    none
Body_temperature_celsius    37.85
points_in_exam                 40
points_bonus                    5
grade                           F
Name: E, dtype: object
The body temperature is 37.85

✍️ **Task**

Write a for loop, that prints "E is a Male and his/her body temperature is 37.85. This is X degree higher than the average body temperature."

🤓 Bonus:
- make male and female lower case
- use the right pronoun 
- use lower/higher
- only use 2 decimals

In [11]:
mean_temp = df["Body_temperature_celsius"].mean()

for index, observation in df.iterrows():


    print("{0} is a {1} and his body temperature is {2:.2f} degree higher than the average body temperature.".format(index, observation["Gender"], observation["Body_temperature_celsius"]-mean_temp ))
    print("\n")

0 is a Male and his body temperature is -0.40 degree higher than the average body temperature.


1 is a Female and his body temperature is 1.60 degree higher than the average body temperature.


2 is a Female and his body temperature is 0.60 degree higher than the average body temperature.


3 is a Female and his body temperature is -1.40 degree higher than the average body temperature.


4 is a Male and his body temperature is -0.40 degree higher than the average body temperature.

### Filtering and Where Clause

If You want to remove rows from a data frame based on a filter, You can use the ```where()``` function.

In [ ]:
df

,Gender,Education,Body_temperature_celsius,points_in_exam,points_bonus,grade,points_total
Name,,,,,,,
A,Male,M.Sc.,37.85,0,5,F,5
B,Female,B.Sc.,39.85,100,10,A,110
C,Female,B.Sc.,38.85,80,0,B,80
D,Female,PhD,36.85,80,5,B,85
E,Male,none,37.85,40,5,F,45

Filters are comparisons between columns or values and colums, that return a series of Boolean values:

In [ ]:
df["Gender"]=="Female"

Name
A    False
B     True
C     True
D     True
E    False
Name: Gender, dtype: bool

You can use such filters in a where clause to remove rows in a data frame replacing them by ```NaN```

In [ ]:
  
# making boolean series for a team name
filter1 = df["Gender"]=="Female"
  
# making boolean series for age
filter2 = df["points_in_exam"]>60
  
# filtering data on basis of both filters
filtered_df = df.where(filter1 & filter2)
  
# display
filtered_df

      Gender Education  Body_temperature_celsius  points_in_exam  points_bonus
Name
A        NaN       NaN                       NaN             NaN           NaN
B     Female     B.Sc.                     39.85           100.0          10.0
C     Female     B.Sc.                     38.85            80.0           0.0
D     Female       PhD                     36.85            80.0           5.0
E        NaN       NaN                       NaN             NaN           NaN

In [ ]:
filtered_df.dropna()

      Gender Education  Body_temperature_celsius  points_in_exam  points_bonus
Name
B     Female     B.Sc.                     39.85           100.0          10.0
C     Female     B.Sc.                     38.85            80.0           0.0
D     Female       PhD                     36.85            80.0           5.0

You might come across a shorter notation with the same effect. Here the series reternd by the filter is used for indexing the data frame:

In [ ]:
df[df["Gender"]=="Female"]

      Gender Education  Body_temperature_celsius  points_in_exam  points_bonus
Name
B     Female     B.Sc.                     39.85             100            10
C     Female     B.Sc.                     38.85              80             0
D     Female       PhD                     36.85              80             5

## Group By

Groupby is a pretty simple concept. We can create a grouping of categories and apply a function to the categories. It’s a simple concept but it’s an extremely valuable technique that’s widely used in data science and when working with data bases.

- Splitting : It is a process in which we split data into group by applying some conditions on datasets.
- Applying : It is a process in which we apply a function to each group independently

In [ ]:
# Splitting the data
df.groupby('Gender')
print(df.groupby('Gender').groups)

{'Female': ['B', 'C', 'D'], 'Male': ['A', 'E']}

In [ ]:
# Splitting and applying a fuction
df.groupby('Gender').mean()

        Body_temperature_celsius  points_in_exam
Gender
Female                 38.516667       86.666667
Male                   37.850000       20.000000

✍️ **Task**

Split the data by the highest education and return the minimum points in the exam in each group. Try to return a series with only the eduction and the points

In [ ]:
df.groupby('Education')['points_in_exam'].min()

Education
B.Sc.    80
M.Sc.     0
PhD      80
none     40
Name: points_in_exam, dtype: int64

# 🏁 Recap

- If you have finished the tasks and have no questions, place the green card on top.
- If you have finished the tasks but would like to discuss the solutions together again, place the yellow card on top.

![](https://www.lokalinfo.ch/fileadmin/news_import/image003_03.jpg)

## Operations on Columns

Pandas allows operations on the colums. For instance, you can use a constant value You apply to all columns.

In [ ]:
# Changing Colums
df['points_in_exam']/10

Name
A     0.0
B    10.0
C     8.0
D     8.0
E     4.0
Name: points_in_exam, dtype: float64

or operate on colums of the same row:

In [ ]:
# Creating new colums
df['points_in_exam'] + df['points_bonus']

Name
A      5
B    110
C     80
D     80
E     45
dtype: int64

## Creating new Columns

You can create new colums an fill them all with the same value or calculations based on other columns:

In [ ]:
df['frist_try'] = True
df

,Gender,Education,Body_temperature_celsius,points_in_exam,points_bonus,frist_try
Name,,,,,,
A,Male,M.Sc.,37.85,0,5,True
B,Female,B.Sc.,39.85,100,10,True
C,Female,B.Sc.,38.85,80,0,True
D,Female,PhD,36.85,80,0,True
E,Male,none,37.85,40,5,True

In [ ]:
df['points_total'] = df['points_in_exam'] + df['points_bonus']
df

,Gender,Education,Body_temperature_celsius,points_in_exam,points_bonus,grade,points_total
Name,,,,,,,
A,Male,M.Sc.,37.85,0,5,F,5
B,Female,B.Sc.,39.85,100,10,F,110
C,Female,B.Sc.,38.85,80,0,F,80
D,Female,PhD,36.85,80,5,F,85
E,Male,none,37.85,40,5,F,45

✍️ **Task**

Create a now colum "grade" the holds the grade based on the exam points.

- A: 90 - 100
- B: 80 - 90
- C: 70 - 80
- D: 60 - 70
- F: < 60

*Hint*:
- use the ```at()``` with a loop through the rows:
`df.at[index, 'grade'] = grade`

In [ ]:
# Solution with loop

df["grade"] = ""

for index, observation in df.iterrows():
  if observation["points_total"] < 60:
    grade = "F"
  if observation["points_total"] >= 60:
    grade = "D"
  if observation["points_total"] >= 70:
    grade = "C"
  if observation["points_total"] >= 80:
    grade = "B"
    print(observation)
  if observation["points_total"] >= 90:
    grade = "A"   
  
  df.at[index, 'grade'] = grade


df

Gender                      Female
Education                    B.Sc.
Body_temperature_celsius     39.85
points_in_exam                 100
points_bonus                    10
grade
points_total                   110
Name: B, dtype: object
Gender                      Female
Education                    B.Sc.
Body_temperature_celsius     38.85
points_in_exam                  80
points_bonus                     0
grade
points_total                    80
Name: C, dtype: object
Gender                      Female
Education                      PhD
Body_temperature_celsius     36.85
points_in_exam                  80
points_bonus                     5
grade
points_total                    85
Name: D, dtype: object

,Gender,Education,Body_temperature_celsius,points_in_exam,points_bonus,grade,points_total
Name,,,,,,,
A,Male,M.Sc.,37.85,0,5,F,5
B,Female,B.Sc.,39.85,100,10,A,110
C,Female,B.Sc.,38.85,80,0,B,80
D,Female,PhD,36.85,80,5,B,85
E,Male,none,37.85,40,5,F,45

## Reading CSV-Data

Instread of entering data by hand, You will often use data from other sources [e.g.)(https://www.kaggle.com/code/brsdincer/genomes-and-genetics-disorder-eda-process-i/data)

You can download the ```train.csv``` file from sakai and upload it to the google colab by clicking on the folder symbol to the left. Next, click on the arrow up symbol to upload the file.

After the upload You can use the ```.read_csv()``` function to create a cata frame from the CSV-File.

![image.png]()

In [14]:
disease_data = pd.read_csv("train.csv",delimiter=",")

disease_data.head()

,Patient Id,Patient Age,Genes in mother's side,Inherited from father,Maternal gene,Paternal gene,Blood cell count (mcL),Patient First Name,Family Name,Father's name,...,Birth defects,White Blood cell count (thousand per microliter),Blood test result,Symptom 1,Symptom 2,Symptom 3,Symptom 4,Symptom 5,Genetic Disorder,Disorder Subclass
0,PID0x6418,2.0,Yes,No,Yes,No,4.760603,Richard,NaN,Larre,...,NaN,9.857562,NaN,1.0,1.0,1.0,1.0,1.0,Mitochondrial genetic inheritance disorders,Leber's hereditary optic neuropathy
1,PID0x25d5,4.0,Yes,Yes,No,No,4.910669,Mike,NaN,Brycen,...,Multiple,5.522560,normal,1.0,NaN,1.0,1.0,0.0,NaN,Cystic fibrosis
2,PID0x4a82,6.0,Yes,No,No,No,4.893297,Kimberly,NaN,Nashon,...,Singular,NaN,normal,0.0,1.0,1.0,1.0,1.0,Multifactorial genetic inheritance disorders,Diabetes
3,PID0x4ac8,12.0,Yes,No,Yes,No,4.705280,Jeffery,Hoelscher,Aayaan,...,Singular,7.919321,inconclusive,0.0,0.0,1.0,0.0,0.0,Mitochondrial genetic inheritance disorders,Leigh syndrome
4,PID0x1bf7,11.0,Yes,No,NaN,Yes,4.720703,Johanna,Stutzman,Suave,...,Multiple,4.098210,NaN,0.0,0.0,0.0,0.0,NaN,Multifactorial genetic inheritance disorders,Cancer

The next command shows all the columns in the data set. Visit the [source](https://www.kaggle.com/code/brsdincer/genomes-and-genetics-disorder-eda-process-i/notebook) of the data set and understand where the data comes from an what it means.

In [15]:
disease_data.columns

Index(['Patient Id', 'Patient Age', 'Genes in mother's side',
       'Inherited from father', 'Maternal gene', 'Paternal gene',
       'Blood cell count (mcL)', 'Patient First Name', 'Family Name',
       'Father's name', 'Mother's age', 'Father's age', 'Institute Name',
       'Location of Institute', 'Status', 'Respiratory Rate (breaths/min)',
       'Heart Rate (rates/min', 'Test 1', 'Test 2', 'Test 3', 'Test 4',
       'Test 5', 'Parental consent', 'Follow-up', 'Gender', 'Birth asphyxia',
       'Autopsy shows birth defect (if applicable)', 'Place of birth',
       'Folic acid details (peri-conceptional)',
       'H/O serious maternal illness', 'H/O radiation exposure (x-ray)',
       'H/O substance abuse', 'Assisted conception IVF/ART',
       'History of anomalies in previous pregnancies',
       'No. of previous abortion', 'Birth defects',
       'White Blood cell count (thousand per microliter)', 'Blood test result',
       'Symptom 1', 'Symptom 2', 'Symptom 3', 'Symptom 4', 'Symptom 5',
       'Genetic Disorder', 'Disorder Subclass'],
      dtype='object')

## Simple Analysis

You now have a lagre body of data. Answering questions on this data might be tedious even for simple questions (e.g, what is the lowest blood cell count to be found in the data.)

Pandas provides different functions and notations to analyse data.

For instance You can find the  the lowest blood cell count to be found in the data by entering just one line:

In [16]:
disease_data["Blood cell count (mcL)"].min()

4.146229815060083

Now, You found the minimal blood cell count. However, You might also want to know who is the patient with eht lowest blood cell count. You can do this using ```idxmin()```

In [17]:
disease_data["Blood cell count (mcL)"].idxmin()

5105

# 🏁 Recap

- If you have finished the tasks and have no questions, place the green card on top.
- If you have finished the tasks but would like to discuss the solutions together again, place the yellow card on top.

![](https://www.lokalinfo.ch/fileadmin/news_import/image003_03.jpg)

🏆 **Task**

Try to answer the following questions about the data. You google if You do not know the right functions yet.

- See if You find and example for the four different types of variables (one type is not in the data):
  - Nominal
  - Ordinal
  - Interval
  - Ratio
- What unique "Genetic Disorders" are in the data base?
- What is the average age of fathers at birth?
- How large is the share of patients show "Symptom 1"?
- How old is the patient that has the highest Blood cell count?
- Create a new dataframe the is anonymised and does not hold the patients names. Make sure the new data frame is a copy and not a reference to the old list.
- 🤓 In the new data frame, drop all rows with incomplete data (containing NaN values)
- 🤓 How did the size of the data frame frame (number of rows and columns) change?
- 🤓 Save the new data frame as a csv-file (```cleaned_data.csv```) an store it on Your PC.

In [1]:
import pandas as pd

disease_data = pd.read_csv("data/genetic_disorders/train.csv")

In [3]:
# Nominal
print(disease_data["Family Name"].unique())

# Ordinal
print(disease_data["Blood test result"].unique())
# Interval

# Ratio
print(disease_data["Blood cell count (mcL)"].unique())

[nan 'Hoelscher' 'Stutzman' ... 'Acuff' 'Farley' 'Mose']
[nan 'normal' 'inconclusive' 'slightly abnormal' 'abnormal']
[4.76060309 4.91066906 4.89329743 ... 5.1864702  4.85854267 4.73806671]

In [4]:
# What unique "Genetic Disorders" are in the data base?
disease_data["Genetic Disorder"].unique()

array(['Mitochondrial genetic inheritance disorders', nan,
       'Multifactorial genetic inheritance disorders',
       'Single-gene inheritance diseases'], dtype=object)

In [5]:
# What is the average age of fathers at birth?
disease_data["Father's age"].mean()

41.9728520842393

In [11]:
# How large is the share of patients show "Symptom 1"?
disease_data["Symptom 1"].sum() / disease_data["Symptom 1"].size

0.5346646741837613

In [8]:
# How large is the share of patients show "Symptom 1"?
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.count.html
disease_data["Symptom 1"].count() / disease_data["Symptom 1"].size

0.9024136213376805

In [ ]:
# How old is the patient that has the highest Blood cell count?
idx = disease_data["Blood cell count (mcL)"].idxmax()
disease_data.iloc[idx]["Patient Age"]

9.0

In [ ]:
# Create a new dataframe the is anonymised and does not hold the patients names. Make sure the new data frame is a copy and not a reference to the old list.
disease_data_anonymised = disease_data.copy()
disease_data_anonymised = disease_data_anonymised.drop(["Patient First Name"],axis = 1)
disease_data_anonymised = disease_data_anonymised.drop(["Family Name"],axis = 1)
disease_data_anonymised = disease_data_anonymised.drop(["Father's name"],axis = 1)
disease_data_anonymised

,Patient Id,Patient Age,Genes in mother's side,Inherited from father,Maternal gene,Paternal gene,Blood cell count (mcL),Mother's age,Father's age,Institute Name,...,Birth defects,White Blood cell count (thousand per microliter),Blood test result,Symptom 1,Symptom 2,Symptom 3,Symptom 4,Symptom 5,Genetic Disorder,Disorder Subclass
0,PID0x6418,2.0,Yes,No,Yes,No,4.760603,NaN,NaN,Boston Specialty & Rehabilitation Hospital,...,NaN,9.857562,NaN,1.0,1.0,1.0,1.0,1.0,Mitochondrial genetic inheritance disorders,Leber's hereditary optic neuropathy
1,PID0x25d5,4.0,Yes,Yes,No,No,4.910669,NaN,23.0,St. Margaret's Hospital For Women,...,Multiple,5.522560,normal,1.0,NaN,1.0,1.0,0.0,NaN,Cystic fibrosis
2,PID0x4a82,6.0,Yes,No,No,No,4.893297,41.0,22.0,NaN,...,Singular,NaN,normal,0.0,1.0,1.0,1.0,1.0,Multifactorial genetic inheritance disorders,Diabetes
3,PID0x4ac8,12.0,Yes,No,Yes,No,4.705280,21.0,NaN,NaN,...,Singular,7.919321,inconclusive,0.0,0.0,1.0,0.0,0.0,Mitochondrial genetic inheritance disorders,Leigh syndrome
4,PID0x1bf7,11.0,Yes,No,NaN,Yes,4.720703,32.0,NaN,Carney Hospital,...,Multiple,4.098210,NaN,0.0,0.0,0.0,0.0,NaN,Multifactorial genetic inheritance disorders,Cancer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22078,PID0x5598,4.0,Yes,Yes,Yes,No,5.258298,35.0,64.0,Franciscan Children's Hospital,...,Multiple,6.584811,inconclusive,0.0,0.0,1.0,0.0,0.0,Mitochondrial genetic inheritance disorders,Leigh syndrome
22079,PID0x19cb,8.0,No,Yes,No,Yes,4.974220,NaN,56.0,Faulkner Hospital,...,Multiple,7.041556,inconclusive,1.0,1.0,1.0,1.0,0.0,Multifactorial genetic inheritance disorders,Diabetes
22080,PID0x3c4f,8.0,Yes,No,Yes,No,5.186470,35.0,51.0,Not applicable,...,Singular,7.715464,normal,0.0,0.0,0.0,1.0,NaN,Mitochondrial genetic inheritance disorders,Mitochondrial myopathy
22081,PID0x13a,7.0,Yes,No,Yes,Yes,4.858543,19.0,NaN,Not applicable,...,Multiple,8.437670,abnormal,1.0,1.0,1.0,0.0,0.0,NaN,Leigh syndrome
22082,PID0x9332,11.0,Yes,No,No,No,4.738067,32.0,62.0,Hebrew Rehabilitation Center,...,Singular,11.188371,normal,1.0,0.0,1.0,1.0,1.0,Multifactorial genetic inheritance disorders,Diabetes

In [ ]:
# How did the size of the data frame frame (number of rows and columns) change?
disease_data_anonymised = disease_data_anonymised.dropna()

print(disease_data.shape)
print(disease_data_anonymised.shape)

(22083, 45)
(6735, 42)

In [ ]:
# Save the new data frame as a csv-file (cleaned_data.csv) an store it on Your PC.
disease_data_anonymised.to_csv("cleaned_data.csv")

🏆 **Task**

Use the original data to evaluate whether maternal illness, radiation exposure (x-ray), or substance abuse have any effects might have any effects on the probability of of heaving a specific disease (Leber's hereditary optic neuropathy", 'Cystic fibrosis', 'Diabetes', 'Leigh syndrome', 'Cancer', 'Tay-Sachs',        'Hemochromatosis', 'Mitochondrial myopathy'm "Alzheimer's").


1. Frist, we have to create baseline. Caclulate what the the share of maternal illness, radiation exposure (x-ray), or substance abuse is in the data in general.
  *Hint*: Only count the "Yes" values
2. Discuss wheather what You calculate is a useful baseline? What data would You like to have instead. 
3. Do the distinctive illnesses have the same frequency or are there any hints of a relationship between cause and illness?

In [19]:
# Unique diseases
disease_data["Disorder Subclass"].unique()

array(["Leber's hereditary optic neuropathy", 'Cystic fibrosis',
       'Diabetes', 'Leigh syndrome', 'Cancer', 'Tay-Sachs',
       'Hemochromatosis', 'Mitochondrial myopathy', nan, "Alzheimer's"],
      dtype=object)

In [ ]:
# Overview 
disease_data.groupby('Disorder Subclass').mean()

,Patient Age,Blood cell count (mcL),Mother's age,Father's age,Test 1,Test 2,Test 3,Test 4,Test 5,No. of previous abortion,White Blood cell count (thousand per microliter),Symptom 1,Symptom 2,Symptom 3,Symptom 4,Symptom 5
Disorder Subclass,,,,,,,,,,,,,,,,
Alzheimer's,6.554054,4.899783,35.293578,43.572727,0.0,0.0,0.0,1.0,0.0,2.134752,7.476564,0.874126,0.927536,0.965278,0.992754,0.978723
Cancer,7.413043,4.863199,34.552632,40.971429,0.0,0.0,0.0,1.0,0.0,2.091954,7.711312,0.204301,0.091954,0.097561,0.022989,0.011494
Cystic fibrosis,6.950728,4.900813,34.661983,42.045259,0.0,0.0,0.0,1.0,0.0,2.012420,7.518545,0.712874,0.701726,0.722258,0.718310,0.718031
Diabetes,6.871749,4.894888,34.684094,42.342878,0.0,0.0,0.0,1.0,0.0,2.012041,7.472702,0.772894,0.773665,0.818945,0.797110,0.840171
Hemochromatosis,6.875394,4.892834,34.495486,42.081951,0.0,0.0,0.0,1.0,0.0,1.966611,7.471526,0.392456,0.299754,0.240228,0.165590,0.111848
Leber's hereditary optic neuropathy,6.784539,4.899169,34.978814,42.159184,0.0,0.0,0.0,1.0,0.0,1.971039,7.502759,0.857633,0.861017,0.876033,0.918782,0.940068
Leigh syndrome,6.936245,4.903683,34.453418,41.689446,0.0,0.0,0.0,1.0,0.0,2.011293,7.441855,0.586081,0.556128,0.541525,0.489936,0.452632
Mitochondrial myopathy,6.952438,4.895322,34.474026,41.887603,0.0,0.0,0.0,1.0,0.0,2.021951,7.494685,0.539490,0.472833,0.424394,0.393789,0.321241
Tay-Sachs,7.095345,4.900130,34.469840,42.070376,0.0,0.0,0.0,1.0,0.0,1.954758,7.490167,0.467156,0.377682,0.354465,0.274922,0.196387

In [22]:
# We analyze each individual column of a potential influence
for column_name in ['H/O serious maternal illness', 'H/O radiation exposure (x-ray)', 'H/O substance abuse']:

  # Baseline
  total = disease_data.shape[0]
  
  # Subgroup with disease
  subgroup = disease_data[disease_data[column_name]=="Yes"].shape[0]

  print("{0} has a base line of {1:.2f}".format(column_name, subgroup / total))

  for disease in disease_data["Disorder Subclass"].unique():
    subgroup_data = disease_data[disease_data["Disorder Subclass"]==disease]

    total = subgroup_data.shape[0]
    subgroup = subgroup_data[disease_data[column_name]=="Yes"].shape[0]

    if total !=0:
      print("--- For {0} it is {1:.2f}".format(disease, subgroup / total))

  print(" \n")

H/O serious maternal illness has a base line of 0.45
--- For Leber's hereditary optic neuropathy it is 0.43
--- For Cystic fibrosis it is 0.45
--- For Diabetes it is 0.44
--- For Leigh syndrome it is 0.46
--- For Cancer it is 0.43
--- For Tay-Sachs it is 0.45
--- For Hemochromatosis it is 0.46
--- For Mitochondrial myopathy it is 0.46
--- For Alzheimer's it is 0.41


H/O radiation exposure (x-ray) has a base line of 0.22
--- For Leber's hereditary optic neuropathy it is 0.20
--- For Cystic fibrosis it is 0.21
--- For Diabetes it is 0.24
--- For Leigh syndrome it is 0.23
--- For Cancer it is 0.19
--- For Tay-Sachs it is 0.24
--- For Hemochromatosis it is 0.23
--- For Mitochondrial myopathy it is 0.23
--- For Alzheimer's it is 0.29


H/O substance abuse has a base line of 0.22
--- For Leber's hereditary optic neuropathy it is 0.23
--- For Cystic fibrosis it is 0.24
--- For Diabetes it is 0.20
--- For Leigh syndrome it is 0.22
--- For Cancer it is 0.29

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  app.launch_new_instance()

--- For Tay-Sachs it is 0.22
--- For Hemochromatosis it is 0.23
--- For Mitochondrial myopathy it is 0.22
--- For Alzheimer's it is 0.21

In [29]:
# It is not a good baseline, as the sample suffers an delection bias, i.e., it only holds data of sick patients and not the general population

# 🏁 Recap

- If you have finished the tasks and have no questions, place the green card on top.
- If you have finished the tasks but would like to discuss the solutions together again, place the yellow card on top.

![](https://www.lokalinfo.ch/fileadmin/news_import/image003_03.jpg)