<table style="width: 100%">
    <tr style="background: #ffffff">
        <td style="padding-top:25px;width: 180px"><img src="https://mci.edu/templates/mci/images/logo.svg" alt="Logo"></td>
        <td style="width: 100%">
            <div style="text-align:right; width: 100%; text-align:right"><font style="font-size:38px"><b>Grundlagen Programmierung</b></font></div>
            <div style="padding-top:0px; width: 100%; text-align:right"><font size="4"><b>WS 2022</b></font></div>
        </td>
    </tr>
</table>

---

# 2 Lists and loops

If we want to work efficiently with more than one data point, stored in a variable, we have to introduce some new concepts. In this notebook You will learn to store multiple data points in a list and how to automate actions You want to perform on all of these data points.

## 2.2.1 Special Data Types

Last time we introduced different data type variables can have.

In [ ]:
type("ABC")

str

In [ ]:
type(1)

int

In [ ]:
type(1.1)

float

### The "None" Data Type
There are always situations where an input parameter (perhaps because it is optional) or a return value (perhaps because an error has occurred) should take the value "None". In Python, there is a special data type NoneType for this, whose value range contains exactly one value, namely None.

None represents the absence of a value. The fact that the "absence of a value" is represented by a special value (which is actually a contradiction in terms) has to do with the fact that the computer cannot deal with "nothing" in any other way. The computer only understands bit sequences, and therefore "nothing" must be represented by a special bit sequence. And in Python, this special bit sequence is called None.

For instance, we want do define a new varible, but the variable has no value yet:

In [ ]:
# Storing the winner of a race
first_runner_to_cross_the_line = None
type(first_runner_to_cross_the_line)

NoneType

### Boolean Expressions

As You learned, computers work with binary descions (e.g. ```True``` or ```False```). Such information can be stored in a single bit.  A Boolean value is either ```True``` or ```False```. Boolean values are often used to keep track of certain conditions, such as whether a game is running or whether a user can edit certain content on a website:

In [ ]:
game_active = True
can_edit = False

If we want to check, the status of a boolean variable we can use the ```==``` operator. If the stauts of ```game_active``` is in fact ```true```, the evaluation results in another boolean value ```true```.

In [ ]:
game_active = True
game_active == True

True

Comparative evaluations are not limited to boolean values. We can also compare strings or numbers:

In [ ]:
"abc" == "abc"

True

In [ ]:
"Abc" == "abc"

False

In [ ]:
1 == 1

True

In [ ]:
1 == 1.1

False

In [ ]:
1 <= 1.1

True

‚úçÔ∏è **Task**

Define two Boolean variables `is_from_austria` and `has_been_aged`. Set there values to `True` or `False`.

Create a third variable `is_really_good_cheese`, that is only true, if both other variables are `True` at the same time.

In [2]:
has_been_aged = True
is_from_austria = False
is_really_good_cheese = (is_from_austria and has_been_aged)
is_from_austria

False

# üèÅ Recap

- If you have finished the tasks and have no questions, place the green card on top.
- If you have finished the tasks but would like to discuss the solutions together again, place the yellow card on top.

![](https://www.lokalinfo.ch/fileadmin/news_import/image003_03.jpg)

## 2.2.2 Lists

In this chapter and the next you‚Äôll learn
what lists are and how to start working with
the elements in a list. Lists allow you to store
sets of information in one place, whether you
have just a few items or millions of items. Lists are
one of Python‚Äôs most powerful features readily accessible
to new programmers, and they tie together many
important concepts in programming.

Last time we wrote a function to evalaute logistic growth at a single point in time $t$.
If we want to store multiply points in time wehre we want to evaluate the results, wie could use multiple variables

```
t_1 = 1
t_2 = 2
t_3 = 3
t_4 = 4
...
```

![](https://upload.wikimedia.org/wikipedia/commons/8/84/Courbe_logistique%2C_Verhulst%2C_1845.png)

Lists are a more elegant way to do this.

In [3]:
# importing the math library
import math

# here the user can define the input
initial_population_size = 100
carrying_capacity = 200
growth_rate = 0.1

t = 10


# here the calculation is made
population_size = carrying_capacity / (1+((carrying_capacity - initial_population_size)/initial_population_size) * math.exp(- growth_rate*t))

#### What Is a List?

A list is a collection of items in a particular order. You can make a list that includes the letters of the alphabet, the digits from 0‚Äì9, or the names of all the people in your family. You can put anything you want into a list, and the items in your list don‚Äôt have to be related in any particular way.

Because a list usually contains more than one element, it‚Äôs a good idea to make the name of your list plural, such as ```letters```, ```digits```, or ```names```.

In Python, square brackets (```[]```) indicate a list, and individual elements
in the list are separated by commas. Here‚Äôs a simple example of a list that contains a few kinds of bicycles:

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

In [ ]:
type(bicycles)

list

#### Accessing Elements in a List

Lists are ordered collections, so you can access any element in a list by telling Python the position, or ```index```, of the item desired. To access an element in a list, write the name of the list followed by the index of the item enclosed in square brackets.
For example, let‚Äôs pull out the first bicycle in the list bicycles:

In [ ]:
print(bicycles[0])

trek

Index Positions Start at 0, Not 1 

Python considers the first item in a list to be at position 0, not position 1. This is true of most programming languages, and the reason has to do with how the list operations are implemented at a lower level. If you‚Äôre receiving unexpected results, determine whether you are making a simple off-by-one error.

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[1])
print(bicycles[3])
print(bicycles[4])

cannondale
specialized

IndexError: ignored

Python has a special syntax for accessing the last element in a list. By asking for the item at index -1, Python always returns the last item in the list:

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[-1])

specialized

‚úçÔ∏è **Task**

Store the full name of the four DNA-Nucleotides as Strings in a list and use the ```print()```-function to print:
 
 - Guanine
 - Adenine
 - Cytosine 
 - Thymine


"My favourite Nucleotide is Guanine!"

Hereby, use the position in the list.

![](https://www.genome.gov/sites/default/files/media/images/tg/Nucleotide.jpg)

In [4]:
nucleotides = ["Guanine", "Adenine", "Cytosine", "Thymine"]

print("My favourite Nucleotide is {}!".format(nucleotides[0]))

My favourite Nucleotide is Guanine!

#### Adding and removing Elements to/from a List

Python provides several ways to add new data to existing lists.

**Append**

Appending Elements to the End of a List
The simplest way to add a new element to a list is to append the item to the list. When you append an item to a list, the new element is added to the end of the list.

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
motorcycles.append('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']

The append() method makes it easy to build lists dynamically. For
example, you can start with an empty list and then add items to the list
using a series of append() statements.

In [ ]:
motorcycles = []
motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')
print(motorcycles)

['honda', 'yamaha', 'suzuki']

**Inserting**

You can add a new element at any position in your list by using the ```insert()```
method. You do this by specifying the index of the new element and the
value of the new item.

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.insert(0, 'ducati')
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

**Removing**

Removing an Item Using the del Statement
If you know the position of the item you want to remove from a list, you can use the del statement.

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
del motorcycles[0]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

**Popping**

Sometimes you‚Äôll want to use the value of an item after you remove it from a list. For example, you might want to get the data of one expertiment of all the experiments You have to evaluate. 

The pop() method removes the last item in a list, but it lets you work
with that item after removing it. The term pop comes from thinking of a
list as a stack of items and popping one item off the top of the stack. In this analogy, the top of a stack corresponds to the end of a list.

In [ ]:
lab_dates = ['21.03.2023', '22.03.2023', '24.03.2023']
print(lab_dates)
popped_lab_dates = lab_dates.pop()
print(lab_dates)
print(popped_lab_dates)

['21.03.2023', '22.03.2023', '24.03.2023']
['21.03.2023', '22.03.2023']
24.03.2023

Similiar to ```del``` popping also works for any index in the list.

In [ ]:
lab_dates = ['21.03.2023', '22.03.2023', '24.03.2023']
print(lab_dates)
popped_lab_dates = lab_dates.pop(1)
print(lab_dates)
print(popped_lab_dates)

['21.03.2023', '22.03.2023', '24.03.2023']
['21.03.2023', '24.03.2023']
22.03.2023

**Removing an Item by Value**

Sometimes you won‚Äôt know the position of the value you want to remove
from a list. If you only know the value of the item you want to remove, you can use the ```remove()``` method.

For instance, You know that all the experiments on the 21.03.2023 failed and want to remove them from Your stack.

In [ ]:
lab_dates = ['21.03.2023', '22.03.2023', '24.03.2023']
print(lab_dates)
failed_experiments = '21.03.2023'
lab_dates.remove(failed_experiments)
print(lab_dates)
print(failed_experiments)

print("\n Experiments on " + failed_experiments + " all failed.")

['21.03.2023', '22.03.2023', '24.03.2023']
['22.03.2023', '24.03.2023']
21.03.2023

 Experiments on 21.03.2023 all failed.

#### Organizing a List

Often, your lists will be created in an unpredictable order, because you can‚Äôt
always control the order in which your users provide their data. Although
this is unavoidable in most circumstances, you‚Äôll frequently want to present
your information in a particular order. Sometimes you‚Äôll want to preserve the
original order of your list, and other times you‚Äôll want to change the original
order. Python provides a number of different ways to organize your lists,
depending on the situation.

##### Sorting a List Permanently with the sort() Method

The `sort()` method operates on the list itself and changes the order of the list.

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

Note, that the `sort()`method does not retrun something. If You try to store the new list in a variable, it will not work:

In [1]:
my_sorted_list = cars.sort(reverse=True)
print(type(my_sorted_list))
print(cars)
print(my_sorted_list)

NameError: name 'cars' is not defined

##### Sorting a List Temporarily 

The `sorted()` Function maintains the original order of a list, but returns a new list with sorted values:

In [ ]:
print("Here is the original list:")
print(cars)
print("\nHere is the sorted list:")
print(sorted(cars))
print("\nHere is the original list again:")
print(cars)

Here is the original list:
['toyota', 'subaru', 'bmw', 'audi']

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here is the original list again:
['toyota', 'subaru', 'bmw', 'audi']

##### Finding the Length of a List

You can quickly find the length of a list by using the len() function. The list
in this example has four items, so its length is 4:

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
len(cars)

4

#### Avoiding Index Errors When Working with Lists

Note that the index goes from 0 to 3!

In [ ]:
cars[4]

IndexError: ignored

Keep in mind that whenever you want to access the last item in a list
you use the index -1. This will always work, even if your list has changed
size since the last time you accessed it:

In [ ]:
cars[-1]

'subaru'

In [ ]:
# this is just a longer way to write cars[-1]
cars[len(cars)-1]

'subaru'

‚úçÔ∏è **Task**

Seeing the World: Think of at least five places in the world you‚Äôd like to
visit.
- Store the locations in a list. Make sure the list is not in alphabetical order.
- Print your list in its original order. Don‚Äôt worry about printing the list neatly,
just print it as a raw Python list.
- Use `sorted()` to print your list in alphabetical order without modifying the
actual list.
- Show that your list is still in its original order by printing it.
- Use `sorted()` to print your list in reverse alphabetical order without changing
the order of the original list.
- Show that your list is still in its original order by printing it again.
- Use `reverse=True` to change the order of your list. Print the list to show that its
order has changed.
- Use `reverse=True` to change the order of your list again. Print the list to show
it‚Äôs back to its original order.
- Use `sort()` to change your list so it‚Äôs stored in alphabetical order. Print the
list to show that its order has been changed.
- Use `sort()` to change your list so it‚Äôs stored in reverse alphabetical order.

Print the list to show that its order has changed.

What are the differences between `sorted()` and `.sort()` in terms of notation and return value?

In [20]:
#1
list_of_places = ["Tirol", "Burgenland", "Wachau", "Finale Ligure", "Provence"]

#2
print(list_of_places)

#3
print(sorted(list_of_places))

#4
print(list_of_places)

#5
print(sorted(list_of_places,reverse=False))

#6
print(list_of_places)

#7
print(sorted(list_of_places,reverse=True))


#8
print(list_of_places)

#9
list_of_places.sort(reverse=False)
print(list_of_places)

#10
list_of_places.sort(reverse=False)

['Tirol', 'Burgenland', 'Wachau', 'Finale Ligure', 'Provence']
['Burgenland', 'Finale Ligure', 'Provence', 'Tirol', 'Wachau']
['Tirol', 'Burgenland', 'Wachau', 'Finale Ligure', 'Provence']
['Burgenland', 'Finale Ligure', 'Provence', 'Tirol', 'Wachau']
['Tirol', 'Burgenland', 'Wachau', 'Finale Ligure', 'Provence']
['Wachau', 'Tirol', 'Provence', 'Finale Ligure', 'Burgenland']
['Tirol', 'Burgenland', 'Wachau', 'Finale Ligure', 'Provence']
['Burgenland', 'Finale Ligure', 'Provence', 'Tirol', 'Wachau']

# üèÅ Recap

- If you have finished the tasks and have no questions, place the green card on top.
- If you have finished the tasks but would like to discuss the solutions together again, place the yellow card on top.

![](https://www.lokalinfo.ch/fileadmin/news_import/image003_03.jpg)

## 2.2.3 Working with Lists

In Chapter 3 you learned how to make a
simple list, and you learned to work with
the individual elements in a list. In this chapter
you‚Äôll learn how to loop through an entire
list using just a few lines of code regardless of how
long the list is. Looping allows you to take the same action, or set of actions,
with every item in a list. As a result, you‚Äôll be able to work efficiently with
lists of any length, including those with thousands or even millions of items.

### Looping Through an Entire List

You‚Äôll often want to run through all entries in a list, performing the same
task with each item. For example, in a game you might want to move every
element on the screen by the same amount, or in a list of numbers you
might want to perform the same statistical operation on every element. Or
perhaps you‚Äôll want to display each headline from a list of articles on a website.
When you want to do the same action with every item in a list, you can
use Python‚Äôs for loop.

Imagine having a list of all the dates You made n experiment in the lan. You can **loop** trough the list using the ```for``` command.

- We begin by defining a list, just as we did before. Next,
we define a **for loop**. This line tells Python to pull a date from the list ```lab_dates```, and store it in the variable ```lab_date```. Then, we tell Python to print the date that was just stored in ```lab_date```. Python then repeats lines 2 and 3, once for each date in the list. It might help to read this code as "For each lab_date in the list of lab_dates, print the date."

In [ ]:
lab_dates = ['21.03.2023', '22.03.2023', '24.03.2023']
for lab_date in lab_dates:
  print("There was a lab on {}.".format(lab_date))

There was a lab on 21.03.2023.
There was a lab on 22.03.2023.
There was a lab on 24.03.2023.

When you‚Äôre using loops for the first time, keep in mind that the set of
steps is repeated once for each item in the list, no matter how many items
are in the list. If you have a million items in your list, Python repeats these
steps a million times‚Äîand usually very quickly.
Also keep in mind when writing your own for loops that you can choose
any name you want for the temporary variable that holds each value in the
list. However, it‚Äôs helpful to choose a meaningful name that represents a
single item from the list. For example, here‚Äôs a good way to start a for loop
for a list of cats, a list of dogs, and a general list of items:

```
for cat in cats:
for dog in dogs:
for item in list_of_items:
```

### Scope of the loop

Python uses indentation (whitespace) to indicate, that is part of the lool. The first two ```print()``` statements are within the loop. The last one is outside the loop and therefore only excecuted once at the end.

An indentation in Python is usually four blanks ```‚Äú‚†Ä   ‚Äù``` the faster way to create an indentation is the tab key (‚Üπ)

In [ ]:
lab_dates = ['21.03.2023', '22.03.2023', '24.03.2023']
for lab_date in lab_dates:
  print("There was a lab on {}.".format(lab_date))
  print("The lab was a great sucess!")
print("There were {} labs in total.".format(len(lab_dates)))

There was a lab on 21.03.2023.
The lab was a great sucess!
There was a lab on 22.03.2023.
The lab was a great sucess!
There was a lab on 24.03.2023.
The lab was a great sucess!
There were 3 labs in total.

### Avoiding Indentation Errors

Python uses indentation to determine when one line of code is connected to the line above it.
Python‚Äôs use of indentation makes code very easy to read. Basically, it uses whitespace to force you to write neatly formatted code with a clear visual structure. In longer Python programs, you‚Äôll notice blocks of code indented at a few different levels. These indentation levels help you gain a general sense of the overall program‚Äôs organization.

As you begin to write code that relies on proper indentation, you‚Äôll
need to watch for a few common indentation errors.

In [ ]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
print(magician)

IndentationError: ignored

You can usually resolve this kind of indentation error by indenting the
line or lines immediately after the for statement.

If you accidentally indent a line that doesn‚Äôt need to be indented, Python
informs you about the unexpected indent:

In [21]:
message = "Hello Python world!"
print(message)

Hello Python world!

### Making Numerical Lists

Many reasons exist to store a set of numbers. For example, you‚Äôll need to
keep track of the positions of each character in a game, and you might want
to keep track of a player‚Äôs high scores as well. In data visualizations, you‚Äôll
almost always work with sets of numbers, such as temperatures, distances,
population sizes, or latitude and longitude values, among other types of
numerical sets.
Lists are ideal for storing sets of numbers, and Python provides a number
of tools to help you work efficiently with lists of numbers. Once you
understand how to use these tools effectively, your code will work well even
when your lists contain millions of items.

#### Using the range() Function
Python‚Äôs ```range()``` function makes it easy to generate a series of numbers.
For example, you can use the range() function to print a series of numbers
like this:

In [ ]:
for value in range(1,5):
  print(value)

1
2
3
4

Although this code looks like it should print the numbers from 1 to 5, it doesn‚Äôt print the number 5.
If your output is different than what you expect when you‚Äôre using
range(), try adjusting your end value by 1.

#### Using range() to Make a List of Numbers

As You see in the next line, a range is a special data type in Python. Like lists, we can use ranges in a for loop.

In [ ]:
type(range(1,5))

range

Using ```range()``` to Make a List of Numbers If you want to make a list of numbers, you can convert the results of ```range()```
directly into a list using the ```list()``` function. When you wrap ```list()``` around a call to the ```range()``` function, the output will be a list of numbers.

In [ ]:
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

We can also use the range() function to tell Python to skip numbers
in a given range. For example, here‚Äôs how we would list the even numbers
between 1 and 10:

In [ ]:
even_numbers = list(range(2,11,2))
print(even_numbers)

[2, 4, 6, 8, 10]

üèÜ **Task**

Put the code from the logarithmic growth into a for loop to get the results from $t=0$ to $t=100$ in steps of $5$.

Also adjust the string, so that the simulation parameters are only mentioned once.


```
# importing the math library
import math

# here the user can define the input
initial_population_size = 1
carrying_capacity = 200
growth_rate = 0.1

t = 10


# here the caclulation is made
population_size = carrying_capacity / (1+((carrying_capacity - initial_population_size)/initial_population_size) * math.exp(- growth_rate*t))

# here, we print out the results
print("Started simulation with the following parameters: \n initial population size: {} \n carrying capacity: {} \n growth rate: {}  \n The population after {} time steps is {}".format(initial_population_size, carrying_capacity, growth_rate, t, population_size))


```

In [23]:
# importing the math library
import math

# here the user can define the input
initial_population_size = 1
carrying_capacity = 200
growth_rate = 0.1

print("Started simulation with the following parameters: \n initial population size: {} \n carrying capacity: {} \n growth rate: {}".format(initial_population_size, carrying_capacity, growth_rate))
  

for t in range(0,101,5):
  population_size = carrying_capacity / (1+((carrying_capacity - initial_population_size)/initial_population_size) * math.exp(- growth_rate*t))

  print("The population after {} time steps is {}".format(t, population_size))
  print(t)

Started simulation with the following parameters:
 initial population size: 1
 carrying capacity: 200
 growth rate: 0.1
The population after 0 time steps is 1.0
0
The population after 5 time steps is 1.6433907579962073
5
The population after 10 time steps is 2.6951268906510597
10
The population after 15 time steps is 4.4050047852599326
15
The population after 20 time steps is 7.16031774028636
20
The population after 25 time steps is 11.537408932172543
25
The population after 30 time steps is 18.335794507722106
30
The population after 35 time steps is 28.533604014079685
35
The population after 40 time steps is 43.05879205034302
40
The population after 45 time steps is 62.29190006520509
45
The population after 50 time steps is 85.43899689116635
50
The population after 55 time steps is 110.29812104787398
55
The population after 60 time steps is 133.93410071047683
60
The population after 65 time steps is 153.94273522063156
65
The population after 70 time steps is 169.28142835717827
70
The population after 75 time steps is 180.16982615148848
75
The population after 80 time steps is 187.48411137436904
80
The population after 85 time steps is 192.2170905172022
85
The population after 90 time steps is 195.2060229278333
90
The population after 95 time steps is 197.0646211476928
95
The population after 100 time steps is 198.20926137758156
100

#### Simple Statistics with a List of Numbers

A few Python functions are specific to lists of numbers. For example, you
can easily find the minimum, maximum, and sum of a list of numbers:

In [ ]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
min(digits)

0

In [ ]:
max(digits)

9

In [ ]:
sum(digits)

45

‚úçÔ∏è **Task**

Calculate the mean (average) of the list ```digits```

In [ ]:
mean =  sum(digits) / len(digits)
mean

4.5

#### List Comprehensions

are an elegent (pythonic) way of generating numerical list.

A list comprehension combines the
for loop and the creation of new elements into one line, and automatically
appends each new element. List comprehensions are not always presented
to beginners, but I have included them here because you‚Äôll most likely see
them as soon as you start looking at other people‚Äôs code.

ü§ì **Bonus Task**
Rewrite the following list comprehension in a regular for l

In [ ]:
squares = [value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
squares = []
for value in range(1,11):
  squares.append(value**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

‚úçÔ∏è **Tasks**

- Counting to Twenty: Use a for loop to print the numbers from 1 to 20,
inclusive.
- One Million: Make a list of the numbers from one to one million,
- Make a list of the numbers from one to one million,
and then use min() and max() to make sure your list actually starts at one and ends at one million. Also, use the sum() function to see how quickly Python can add a million numbers.
- then calculate the mean.

In [24]:
for value in range(1,21):
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [27]:
numbers = []
for value in range(1,1000001):
    numbers.append(value)

print(min(numbers))
print(max(numbers))
print(sum(numbers))
print(sum(numbers)/len(numbers))

1
1000000
500000500000
500000.5

### Working with Part of a List

#### Slicing a List

To make a slice, you specify the index of the first and last elements you
want to work with. As with the range() function, Python stops one item
before the second index you specify. To output the first three elements
in a list, you would request indices 0 through 3, which would return elements
0, 1, and 2.
The following example involves a list of players on a team:

In [ ]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[0:3])

['charles', 'martina', 'michael']

You can generate any subset of a list. For example, if you want the second,
third, and fourth items in a list, you would start the slice at index 1 and
end at index 4:

In [ ]:
print(players[1:4])

['martina', 'michael', 'florence']

If you omit the first index in a slice, Python automatically starts your
slice at the beginning of the list:

In [ ]:
print(players[:4])

['charles', 'martina', 'michael', 'florence']

A similar syntax works if you want a slice that includes the end of a list.
For example, if you want all items from the third item through the last item,
you can start with index 2 and omit the second index:

In [ ]:
print(players[2:])

['michael', 'florence', 'eli']

This syntax allows you to output all of the elements from any point in
your list to the end regardless of the length of the list. Recall that a negative
index returns an element a certain distance from the end of a list;
therefore, you can output any slice from the end of a list. For example, if
we want to output the last three players on the roster

In [ ]:
print(players[-3:])

['michael', 'florence', 'eli']

### Copying a List

Often, you‚Äôll want to start with an existing list and make an entirely new list
based on the first one. Let‚Äôs explore how copying a list works and examine
one situation in which copying a list is useful.
To copy a list, you can make a slice that includes the entire original list
by omitting the first index and the second index ([:]). This tells Python to
make a slice that starts at the first item and ends with the last item, producing
a copy of the entire list.
For example, imagine we have a list of our favorite foods and want to
make a separate list of foods that a friend likes. This friend likes everything
in our list so far, so we can create their list by copying ours:

In [ ]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]
print("My favorite foods are:")
print(my_foods)
print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake']

To prove that we actually have two separate lists, we‚Äôll add a new food
to each list and show that each list keeps track of the appropriate person‚Äôs
favorite foods:

In [ ]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]
my_foods.append('cannoli')
friend_foods.append('ice cream')

print("My favorite foods are:")
print(my_foods)

print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake', 'ice cream']

The output at x shows that 'cannoli' now appears in our list of favorite
foods but 'ice cream' doesn‚Äôt. At y we can see that 'ice cream' now appears
in our friend‚Äôs list but 'cannoli' doesn‚Äôt. If we had simply set friend_foods
equal to my_foods, we would not produce two separate lists. For example,
here‚Äôs what happens when you try to copy a list without using a slice:

In [ ]:
my_foods = ['pizza', 'falafel', 'carrot cake']

# This doesn't work:
friend_foods = my_foods

my_foods.append('cannoli')
friend_foods.append('ice cream')
print("My favorite foods are:")
print(my_foods)
print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli', 'ice cream']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli', 'ice cream']

Instead of storing a copy of my_foods in friend_foods at u, we set
friend_foods equal to my_foods. This syntax actually tells Python to connect
the new variable friend_foods to the list that is already contained in
my_foods, so now both variables point to the same list. As a result, when we
add 'cannoli' to my_foods, it will also appear in friend_foods. Likewise 'ice
cream' will appear in both lists, even though it appears to be added only to
friend_foods.

### Tuples

Lists work well for storing sets of items that can change throughout the
life of a program. The ability to modify lists is particularly important when you‚Äôre working with a list of users on a website or a list of characters in a game. However, sometimes you‚Äôll want to create a list of items that cannot change. Tuples allow you to do just that. Python refers to values that cannot change as immutable, and an immutable list is called a tuple.

In [ ]:
dimensions = (200, 50)
print(dimensions[0])
print(dimensions[1])

200
50

trying to change a value within a tuple:

In [ ]:
dimensions[0] = 250

TypeError: ignored

We can change a tuple, if re redefine it:

In [ ]:
dimensions = (300, 25)
print(dimensions[0])
print(dimensions[1])

300
25

# üèÅ Recap

- If you have finished the tasks and have no questions, place the green card on top.
- If you have finished the tasks but would like to discuss the solutions together again, place the yellow card on top.

![](https://www.lokalinfo.ch/fileadmin/news_import/image003_03.jpg)

## 2.2.4 Application for lists

üèÜ **Task**

You are given data of the following DNA-Sequence.

```dna_sequence = ["A", "U", "C", "C", "G","A", "G", "C", "U", "E", "G","A", "G", "C", "U", "Z", "G","A", "G", "C", "U",]```

As You see, the data must have some errors, it should contain only the nucleotids A, U, V, and G. 

- First clean the data by removing all corrupted items from the list. You can use the ```remove()```function or google for a more elegant way.

A sequence of three nucleotides is call a **codon** that can be translated in a specific amino acid. 

- Next create a loop, that prints out all three letter codons of the remaining sequence.

![](https://www.genome.gov/sites/default/files/media/images/tg/Genetic-code.jpg)

In [1]:
length_of_segments = 3
dna_sequence = ["A", "U", "C", "C", "G","A", "G", "C", "U", "E", "G","A", "G", "C", "U", "E", "Z", "G","A", "G", "C", "U","U"]

dna_sequence.remove("E")
dna_sequence.remove("Z")

for starting_point in range(0,len(dna_sequence), length_of_segments):
  
  print(dna_sequence[starting_point:starting_point+3])

['A', 'U', 'C']
['C', 'G', 'A']
['G', 'C', 'U']
['G', 'A', 'G']
['C', 'U', 'E']
['G', 'A', 'G']
['C', 'U', 'U']

In [ ]:
# Another way to remove the letters, if there are more than one:
length_of_segments = 3
dna_sequence = ["A", "U", "C", "C", "G","A", "G", "C", "U", "E", "G","A", "G", "C", "U", "E", "Z", "G","A", "G", "C", "U","U"]

#sublist created with list comprehension
dna_sequence_updated = [value for value in dna_sequence if (value != "E")]
dna_sequence_updated = [value for value in dna_sequence_updated if (value != "Z")]

#print original list
print(dna_sequence)

#print  new sublist that doesn't contain 'Python'
print(dna_sequence_updated)

# üèÅ Recap

- If you have finished the tasks and have no questions, place the green card on top.
- If you have finished the tasks but would like to discuss the solutions together again, place the yellow card on top.

![](https://www.lokalinfo.ch/fileadmin/news_import/image003_03.jpg)